<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>《今日头条》你关心的,才是头条! - TouTiao.com</title>
    <script src="/assets/index/js/rem.js"></script>
     <link rel="shortcut icon" href="/assets/index/img/iphone-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/index/css/search.css">
    <link rel="stylesheet" href="/assets/public/public.css">
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
    <header id="header" class="header">
        <div class="top-bar">
            <div class="abs-l">
                <a href="/index.php?c=page&m=index" class="btn"></a>
            </div>
            <div class="abs_m">搜索</div>
        </div>
    </header>
    <form action="/index.php" method="get" id="search-form">
        <div class="search-content">
            <a href="javascript:void (0)" class="action-chooser"></a>
            <div class="arrowdown"></div>
            <input type="hidden" name="c" value="page">
            <input type="hidden" name="m" value="search">
            <input type="text" placeholder="请输入搜索关键词" id="search-input" name="wd">
        </div>
        <div class="action-navigation">
            <div class="arrowup-shadow"></div>
            <div class="arrowup"></div>
            <ul class="navigation-categories">
                <li>
                    <a href="javascrit:void(0)">新闻</a>
                </li>
                <li>
                    <a href="javascrit:void(0)">神马</a>
                </li>
                <li></li>
            </ul>
        </div>
        <content id="search">
            <div class="hot_words">
                <ul id="ul">
                    <?php if($total_num == 0){?>
                        <div>没有找到你想要的结果</div>
                    <?php } ?>

                    <?php if($total_num !=0){?>
                        <div>这次找到<?php echo $total_num?>条结果</div>
                    <?php } ?>
                    <?php foreach ($results as $k => $v) {?>
                    <li>
                        <a href="javascript:void(0)" class="hot_words_link">
                            <?php echo $v['title']?>
                        </a>
                    </li>
                    <?php }?>

                    <?php if ( $total_num > 3) { ?>
                    <button id="loadmore">加载更多</button>
                    <?php }?>
                </ul>
            </div>
        </content>
    </form>
    <script>
        page = 1;
        $(function () {
            $('#loadmore').click(function () {
                $.ajax({
                    url:'/index.php?c=news&m=search&wd=<?php echo $keyword?>&page='+ ( page + 1),
                    success:function (data){
                        page = page + 1;
                        data=JSON.parse(data);
                        if(data.length){

                        }else{
                            alert('没有加载更多')
                            $('#loadmore').remove();
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>
